:root{
  --paaTaustavari:rgb(52, 59, 60);
  --liikennevaloPunainen:rgb(233, 60, 7);
  --liikennevaloKeltainen:rgb(236, 215, 27);
  --liikennevaloVihrea:rgb(112, 187, 25);
  --liikennevaloHarmaa:rgb(211, 211, 211);
  --ylaValikkovari:rgb(36, 35, 35);
  --alaValikkovari:rgb(36, 35, 35);
  --tehosteVari:#16b4c5;
  --tehosteVari2:#7bb3b9;
  --fonttiVari:rgb(255, 255, 255);
  --fonttiVari2:rgb(28, 28, 28);
}


body{
    background-color: var(--paaTaustavari);
    color: var(--fonttiVari);
    font-family: 'Baloo Da 2', cursive, sans-serif;
    font-size: 20px;
    margin: 0;
    
    
}


.slideSivu{
  background-color: var(--paaTaustavari);
  height: auto;
  margin: auto;
  width: 100%;
  overflow: hidden;
}


.slidecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    

}
  .slidecontainer > div{
    width: 80%;
    margin: 10px;
    text-align: center;
    font-size: 1.1em; 
    
  }

  
  .slider {

    -webkit-appearance: none;
    width: 70%;
    height: 20px;
    border-radius: 5px;
    background: #a8a7a7;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-bottom: 20px;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: rgb(0, 184, 212);
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(0, 184, 212);
    cursor: pointer;
  }



#sivunNimi{
    width: 100%;
    color: var(--tehosteVari);
    font-size: 24px;
}

#ylaValikko li{
    padding: 10px 0;
}



/* Navigation Settings */
#ylaNavKysely{
    display: flex;
    align-items: center;
    width: 100vw;
    height: 50px;
    background: var(--ylaValikkovari);
    z-index: 2;
    text-align: center;
}
#ylaNavDeleteAccount{
  display: flex;
  align-items: center;
  width: 100vw;
  height: 50px;
  background: var(--ylaValikkovari);
  z-index: 2;
  text-align: center;
}

.buttonit {
    background: var(--tehosteVari);
    color: var(--fonttiVari);
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 70%;
    height: 80%;
    border-radius: 5px;
    box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.75);
    font-size: x-large;
}
.deleteAccountButton{
    background: rgb(151, 8, 8);
    margin: auto 5px auto 0px;
    color:white; 
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 70%;
    height: 80%;
    border-radius: 5px;
    box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.75);
    font-size: x-large;
}
p{
  font-size: 20px;
  text-align: center;
  margin: 5px;
  line-height: 30px;
}

.buttonit:active {
  background: var(--fonttiVari);
  color: var(--tehosteVari);
}

#closeMenu{
  color: var(--tehosteVari);
  font-size: 2em;
  width: fit-content;
  padding: 10px 15px;
  position: absolute;
  right: 10px;
  cursor: pointer;
}
#closeDeleteAccount{
  color: var(--tehosteVari);
    font-size: 30px;
    width: fit-content;
    padding: 10px 15px;
    position: absolute;
    right: 10px;
    cursor: pointer;
}


.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  background-color: var(--ylaValikkovari);
  color: #fff;
  text-align: start;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  line-height: 30px;
  padding: 20px;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 90%;
  height:320px;
  overflow:auto;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    bottom: 0%;
    left: 93%;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.popupInfo {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

/* The actual popup */
.popupInfo .popupInfotext {
  visibility: hidden;
  background-color: var(--ylaValikkovari);
  color: #fff;
  text-align: start;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 125%;
  line-height: 30px;
  padding: 20px;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 90%;
  height:320px;
  overflow:auto;
}

.popupInfo .popupInfotext::after {
  
    content: "";
    position: absolute;
    bottom: 0%;
    left: 93%;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}


/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  width: 90%;
  
}


/* Toggle this class - hide and show the popup */
.popupInfo .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  width: 90%;
  }


/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

#questonmark{
  color: var(--tehosteVari);
  font-size: 1.4em;
}
#kysymys1{
  color: var(--tehosteVari);
  font-size: 1.4em;
}

#myDeleteAccount{
  color: var(--tehosteVari);
  font-size: 30px;
  margin: 10px;
}


.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: var(--tehosteVari);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
.kyselyOtsikko{
  margin-left: 10px;
  font-family: 'Baloo Da 2', cursive, sans-serif;
  font-size: 18px;
}

p{
  margin: 20px;
}
.ohjeOtsikko{
  margin: 20px;
  font-size: 22px;
}







  