:root{
    --paaTaustavari: rgb(105, 105, 105);
    --liikennevaloPunainen: #d83a0a;
    --liikennevaloKeltainen: #ecd71b;
    --liikennevaloVihrea: #669e27;
    --liikennevaloHarmaa: lightgray;
    --ylaValikkovari: rgb(66, 66, 66);
    --alaValikkovari: rgba(96, 124, 138, 0.8);
    --tehosteVari: rgba(0, 184, 212, 0.7);
    --fonttiVari: white;
}


body{
    background-color: var(--paaTaustavari);
    color: white;
    font-family: 'Baloo Da 2', cursive, sans-serif;
    font-size: 18px;
    margin: 0;
    
}


.slideSivu{
  background-color: var(--paaTaustavari);
  height: auto;
  margin: auto;
  width: 100%;
  overflow: hidden;
}


.slidecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    

}
  .slidecontainer > div{
    width: 70%;
    margin: 10px;
    text-align: center;
    font-size: 20px; 
    
  }

  
  .slider {

    -webkit-appearance: none;
    width: 70%;
    height: 20px;
    border-radius: 5px;
    background: #a8a7a7;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-bottom: 20px;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: rgb(0, 184, 212);
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(0, 184, 212);
    cursor: pointer;
  }



#sivunNimi{
    width: 100%;
    color: var(--tehosteVari);
    font-size: 1.4em;
}

#ylaValikko li{
    padding: 10px 0;
}



/* Navigation Settings */
#ylaNav{
    display: flex;
    align-items: center;
    width: 100vw;
    height: 50px;
    background: var(--ylaValikkovari);
    z-index: 2;
    text-align: center;
}

#submit {
  background: var(--tehosteVari);
    color: var(--fonttiVari);
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 70%;
    height: 80%;
    border-radius: 5px;
    box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.75);
    font-size: x-large;
}

#submit:hover {
  background: var(--fonttiVari);
  color: var(--tehosteVari);
}


  