/* Testiversio tyylittelyistä */

:root{
    --paaTaustavari: rgb(105, 105, 105);
    --liikennevaloPunainen: #d83a0a;
    --liikennevaloKeltainen: #ecd71b;
    --liikennevaloVihrea: #669e27;
    --liikennevaloHarmaa: lightgray;
    --ylaValikkovari: rgb(66, 66, 66);
    --alaValikkovari: rgba(96, 124, 138, 0.8);
    --tehosteVari: rgba(0, 184, 212, 0.7);
    --fonttiVari: white;
}

* {
    margin: 0; padding: 0;
}

body {
    font-family: 'Baloo Da 2', cursive, sans-serif;
    font-size: 18px;
    text-align: center;
    overflow: hidden;
}

.paasivuWrapper{
    display: grid;
    padding: 10px 10px 0 10px;
    box-sizing: border-box;
    background-color: var(--paaTaustavari);
}

.detailWrapper{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0 5% 0 5%;
    box-sizing: border-box;
    background-color: var(--paaTaustavari);
}

#ylaValikko{
    display: none;
    background-color: var(--ylaValikkovari);
    color: var(--fonttiVari);
}

#sivunNimi{
    width: 100%;
    color: var(--tehosteVari);
    font-size: 1.4em;
}

#ylaValikko li{
    padding: 10px 0;
}

#hampurilaisMenu{
    color: var(--tehosteVari);
    font-size: 24px;
    width: fit-content;
    padding: 10px 15px;
    position: absolute;
    right: 10px;
    cursor: pointer;
}

#hampurilaisValikko{
    height: 0px;
    width: 100%;
    position: absolute;
    background-color: white;
    cursor: pointer;
    z-index: 2;
}

/* Navigation Settings */
#ylaNav{
    display: flex;
    align-items: center;
    width: 100vw;
    height: 50px;
    background: var(--ylaValikkovari);
    z-index: 2;
}

#alaNav {
    position: fixed;
    display: flex;
    bottom: 0;
    width: 100vw;
    z-index: 2;
}

.box{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: var(--fonttiVari);
    background-color: var(--tehosteVari);
    margin: 10px;
}

.clear{
    padding: 10px;
}

.fa-arrow-alt-circle-down{
    font-size: 4em;
    color: var(--liikennevaloPunainen);
}

.fa-arrow-alt-circle-up{
    font-size: 4em;
    color: var(--liikennevaloVihrea);
}

.ikoni{
    font-size: 3em;

}

.ikoniHuutomerkki{
    font-size:20px;
    color:black;
    margin-top: 40px;
}

.hymio{
    font-size: 8em;
    padding: 10px;
}

.fa-chevron-down{
    font-size: 2.8em;
    color: #00b8d4e6;
}

.fa-chevron-up{
    font-size: 2.8em;
    color: #00b8d4e6;
    grid-column-start: 1;
    grid-column-end: 4;
    margin: 10px;
}
/*
.swiper-container{
    height: 100vh;
}

.swiper-pageContainer{
    height: 100vh;
}*/

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
    margin: 0px;
    width: 34%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.swiper-pagination-bullet{
    background: none;
    background-color: var(--alaValikkovari);
    opacity: 1;
    border-radius: 0px;
    width: 100px;
    height: 70px;
}

.swiper-pagination-bullet-active{
    background-color: var(--tehosteVari);
}

@media only screen and (max-width: 320px) {

}