:root{
    --paaTaustavari:rgb(52, 59, 60);
    --liikennevaloPunainen:rgb(233, 60, 7);
    --liikennevaloKeltainen:rgb(236, 215, 27);
    --liikennevaloVihrea:rgb(112, 187, 25);
    --liikennevaloHarmaa:rgb(211, 211, 211);
    --ylaValikkovari:rgb(36, 35, 35);
    --alaValikkovari:rgb(36, 35, 35);
    --tehosteVari:#16b4c5;
    --tehosteVari2:#7bb3b9;
    --fonttiVari:rgb(255, 255, 255);
    --fonttiVari2:rgb(28, 28, 28);
    
}

* {
    margin: 0; padding: 0;
}

html {
    height: 100%;

  
}

body {
    font-family: 'Baloo Da 2', sans-serif;
    font-size: 3vw;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    height: 100%;
    color: white;
    }

/* POP-UPIT */
/* POP-UPIT - LOMAKKEET */
.buttonGeneric {
    background: var(--tehosteVari);
    color: var(--fonttiVari);
    font-family: 'Baloo Da 2', cursive, sans-serif;
    font-size: larger;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 80%;
    border-radius: 5px;
    box-shadow: 2px 2px 10px -2px rgba(0,0,0,0.75);
}

.buttonGeneric:hover {
    background: var(--fonttiVari);
    color: var(--tehosteVari);
}

.textboxGeneric {
    width: 80%;
    border-radius: 5px;
    font-family: 'Baloo Da 2', cursive, sans-serif;
    font-size: larger;
}

.checkboxGeneric {
    font-family: 'Baloo Da 2', cursive, sans-serif;
    font-size: larger;
}

.textGeneric {
    font-family: 'Baloo Da 2', cursive, sans-serif;
    font-size: larger;
}

/* POP-UPIT - TAUSTA*/

.popupBackground {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
}

.loginPopup {
    visibility: hidden;
}

.registerPopup {
    visibility: hidden;
}

.createPolarPopup {
    visibility: hidden;
}

.createUserDetailsPopup {
    visibility: hidden;
}

.createUserParametersPopup {
    visibility: hidden;
}

/* POP-UPIT - SISÄLLÖT*/

.popupContent {  
    background: var(--paaTaustavari);
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}


/* POP-UPIT - ANIMAATIOT*/

/* SNACKBAR / TOAST */
.snackbar {
    
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
  }

.snackbarLogin {
    visibility: hidden;
}
 
.snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }


/* Teaser-sivu */

.teaserDiv {
    background-color: var(--paaTaustavari);
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1% 20% 54% 10% 10% 5%;
}

.teaserGridItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teaserGridItemButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.teaserSmallImage {
    max-width: 80%;
    max-height: 80%;
    margin: 10%;
    align-self: flex-end;
    object-fit: contain;
}

.teaserImage {
    max-width: 90%;
    max-height: 90%;
    align-self: center;
    object-fit: contain;
}

.buttonDiv {
    background: var(--tehosteVari);
    color: var(--fonttiVari2);
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 70%;
    height: 80%;
    border-radius: 5px;
    box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.75);
    font-size: x-large;
}

.buttonDiv:hover {
    background: var(--fonttiVari);
    color: var(--tehosteVari);
}

<<<<<<< HEAD
=======
.buttonGeneric {
    background: var(--tehosteVari);
    color: var(--fonttiVari2);
    font-family: 'Baloo Da 2', cursive, sans-serif;
    font-size: larger;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 80%;
    border-radius: 5px;
    box-shadow: 2px 2px 10px -2px rgba(0,0,0,0.75);
}

.buttonGeneric:hover {
    background: var(--fonttiVari);
    color: var(--tehosteVari);
}

.textboxGeneric {
    width: 80%;
    border-radius: 5px;
    font-family: 'Baloo Da 2', cursive, sans-serif;
    font-size: larger;
}
>>>>>>> f28c34f9d0101603a1bf05c57db6eebd6df298e6





.loginPopupContentAnimation {
    animation: dropPopup 1.0s ease forwards;
}

.loginPopupContentAnimation2 {
    animation: dropPopup2 0.5s ease forwards;
}

@keyframes dropPopup {
    0% {opacity: 0.4}
    70% {transform: translateY(220%)}
    100% {transform: translateY(210%); opacity: 1;}
}

@keyframes dropPopup2 {
    0% {opacity: 1}
    10% {transform: translateY(215%)}
    15% {transform: translateY(205%)}
    20% {transform: translateY(215%)}
    25% {transform: translateY(205%)}
    30% {transform: translateY(215%)}
    35% {transform: translateY(205%)}
    40% {transform: translateY(215%)}
    45% {transform: translateY(205%)}
    50% {transform: translateY(215%)}
    55% {transform: translateY(205%)}
    60% {transform: translateY(215%)}
    65% {transform: translateY(205%)}
    70% {transform: translateY(215%)}
    75% {transform: translateY(205%)}
    80% {transform: translateY(215%)}
    85% {transform: translateY(205%)}
    90% {transform: translateY(215%)}
    95% {transform: translateY(205%)}
    100% {transform: translateY(210%)}
}





.registerPopupContentAnimation {
    animation: dropRegister 1.0s ease forwards;
}

.registerPopupContentAnimation2 {
    animation: dropRegister2 0.5s ease forwards;
}

@keyframes dropRegister {
    0% {opacity: 0.4}
    70% {transform: translateY(200%)}
    100% {transform: translateY(190%); opacity: 1;}
}

@keyframes dropRegister2 {
    0% {opacity: 1}
    10% {transform: translateY(195%)}
    15% {transform: translateY(185%)}
    20% {transform: translateY(195%)}
    25% {transform: translateY(185%)}
    30% {transform: translateY(195%)}
    35% {transform: translateY(185%)}
    40% {transform: translateY(195%)}
    45% {transform: translateY(185%)}
    50% {transform: translateY(195%)}
    55% {transform: translateY(185%)}
    60% {transform: translateY(195%)}
    65% {transform: translateY(185%)}
    70% {transform: translateY(195%)}
    75% {transform: translateY(185%)}
    80% {transform: translateY(195%)}
    85% {transform: translateY(185%)}
    90% {transform: translateY(195%)}
    95% {transform: translateY(185%)}
    100% {transform: translateY(190%)}
}








.fa-user {
    font-size: 3em;
    text-align: center;
}

.fa-times-circle {
    font-size: 1.75em;
    text-align: right;
    vertical-align: top;
}


/*tompan jutut*/

.paasivuPaivaWrapper{
    display: grid;
    align-items: center;
    padding: 10px 10px 0 10px;
    box-sizing: border-box;
    background-color: var(--paaTaustavari);
}

.paasivuViikkoWrapper{
    display: grid;
    background-color: var(--paaTaustavari);
}

.paasivuKuukausiWrapper{
    display: grid;
    background-color: var(--paaTaustavari);
}

.detailWrapper{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0 5% 0 5%;
    box-sizing: border-box;
    background-color: var(--paaTaustavari);
}

#paasivuPaivaNav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    
}

#paasivuViikkoNav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
   
}

#paasivuKuukausiNav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    
}

#viikonpaivaLista{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    height: 100%;
}

.viikkoNakymaTietue{
    display: flex;
    align-items: center;
    border: solid 1px;
    color: white;
    padding: 0 10px;
    height: 100%;
}

.viikkoNakymaTietue:hover{
    background-color: var(--liikennevaloHarmaa);
}

#ylaValikko{
    display: none;
    background-color: var(--ylaValikkovari);
    color: var(--fonttiVari);
}

#sivunNimi{
    width: 100%;
    color: var(--tehosteVari);
    font-size: 1.4em;
    
}

.hidden{
    display: none;
}

.polarLisaValikko{
    background-color: var(--tehosteVari);
}

#polarPoistaLinkitys{
    background-color: var(--liikennevaloPunainen);
}

#ylaValikko li{
    padding: 10px 0;
}

#hampurilaisMenu{
    color: var(--tehosteVari);
    font-size: 24px;
    width: fit-content;
    padding: 10px 15px;
    position: absolute;
    right: 10px;
    cursor: pointer;
}

#hampurilaisValikko{
    height: 0px;
    width: 100%;
    position: absolute;
    background-color: white;
    cursor: pointer;
    z-index: 2;
    font-size: 1.5em;
}

/* Navigation Settings */
#ylaNav{
    display: flex;
    align-items: center;
    width: 100vw;
    height: 50px;
    background: var(--ylaValikkovari);
    z-index: 2;
}

#alaNav {
    position: fixed;
    display: flex;
    bottom: 0;
    width: 100vw;
    z-index: 2;
    
}

.box{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #1C1C1C;
    background-color: var(--tehosteVari2);
    margin: 10px;
    font-weight: bold;
    font-size: 1.4em;
}

.clear{
    padding: 10px;
    font-size: 4vw;
}

.fa-arrow-alt-circle-down{
    font-size: 4em;
    color: var(--liikennevaloPunainen);
}

.fa-arrow-alt-circle-up{
    font-size: 4em;
    color: var(--liikennevaloVihrea);
}

.ikoni{
    font-size: 3em;

}

.ikoniHuutomerkki{
    font-size:20px;
    color:var(--tehosteVari);
    margin-top: 40px;
}

.hymio{
    font-size: 30vw;
    padding: 10px;
    
}

.hymio-viikko{
    font-size: 5vw;
    padding: 0 10px;
}

i[class^="fas fa-chevron"]{
    font-size: 4em;
    color: var(--tehosteVari);
}


.fa-chevron-down{
    align-self: end;
}

.fa-chevron-up{
    grid-column-start: 1;
    grid-column-end: 4;
    margin: 10px;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
    margin: 0px;
    width: 34%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    
}

.swiper-pagination-bullet{
    background: none;
    background-color: var(--alaValikkovari);
    opacity: 1;
    border-radius: 0px;
    width: 100px;
    height: 70px;
    color: white;
    font-weight: bold;
}

.swiper-pagination-bullet-active{
    background-color: var(--tehosteVari);
    color: #1C1C1C;
    font-weight: bold;
}



@media only screen and (max-width: 320px) {

<<<<<<< HEAD

}





=======
}

/* Kalenteri näkymän muotoilut */
>>>>>>> a6755a9787410d8b4d307f224575d2879be5e743
.calendar {
    margin: auto;
    margin-top: 5px;
    width: 90%;
<<<<<<< HEAD
    height: 37em;
=======
    height: 100%;
>>>>>>> a6755a9787410d8b4d307f224575d2879be5e743
    background-color: rgb(226, 222, 222);
    box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.2);
}

.month {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center;
<<<<<<< HEAD
    background-color: var(--tehosteVari2);
    color: var(--fonttiVari2);
=======
    background-color: var(--tehosteVari);
    color: #fff;
>>>>>>> a6755a9787410d8b4d307f224575d2879be5e743
    font-size: 34px;
}

.weekdays {
    background-color: rgb(6, 114, 109);
    color: #fff;
    padding: 7px 0;
    display: flex;
    font-size: 20px;
}

.daysOfMonth {
    font-weight: 300;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    font-size: 18px
<<<<<<< HEAD
     
    
=======
>>>>>>> a6755a9787410d8b4d307f224575d2879be5e743
}

.weekdays div,
.daysOfMonth div {
    text-align: center;
    width: 14.28%;
}

.daysOfMonth div {
    padding: 10px 0;
<<<<<<< HEAD
    margin-bottom: 10px;
=======
    display: flex;
    flex-flow: column;
    align-items: center;
>>>>>>> a6755a9787410d8b4d307f224575d2879be5e743
    transition: all 0.4s;
}

.prev_date {
    color: #999;
    box-sizing: border-box;
}

.today {
<<<<<<< HEAD
    background-color:var(--tehosteVari);
=======
    background-color: var(--alaValikkovari);
>>>>>>> a6755a9787410d8b4d307f224575d2879be5e743
    color: #fff;
}

.daysOfMonth div:hover {
    cursor: pointer;
    background-color: rgba(112, 161, 179, 0.8)
}

.prev,
.next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 23px;
<<<<<<< HEAD
    background-color: var(--tehosteVari);
=======
    background-color: rgba(0, 0, 0, 0.1);
>>>>>>> a6755a9787410d8b4d307f224575d2879be5e743
    transition: all 0.4s;
}

.prev:hover,
.next:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
}

#month {
    font-size: 30px;
    font-weight: 500;
<<<<<<< HEAD
    color: var(--fonttiVari2);
}
#year{
    color: var(--fonttiVari2); 
}




=======
}

>>>>>>> a6755a9787410d8b4d307f224575d2879be5e743
.slideSivu{
    background-color: var(--paaTaustavari);
    height: auto;
    margin: auto;
    width: 100%;
    overflow: auto;
}

<<<<<<< HEAD


.slidecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    
  }
  .slidecontainer > div{
=======
.slidecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.slidecontainer > div{
>>>>>>> a6755a9787410d8b4d307f224575d2879be5e743
    width: 400px;
    margin: 10px;
    text-align: center;
    line-height: 11px;
    font-size: 20px; 
<<<<<<< HEAD
    
  }
 
  
  .slider {

=======
}
 
.slider {
>>>>>>> a6755a9787410d8b4d307f224575d2879be5e743
    -webkit-appearance: none;
    width: 60%;
    height: 20px;
    border-radius: 5px;
    background: #a8a7a7;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-bottom: 20px;
<<<<<<< HEAD
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
=======
}
  
.slider:hover {
    opacity: 1;
}
  
.slider::-webkit-slider-thumb {
>>>>>>> a6755a9787410d8b4d307f224575d2879be5e743
    -webkit-appearance: none;
    appearance: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: rgb(0, 184, 212);
    cursor: pointer;
<<<<<<< HEAD
  }
  
  .slider::-moz-range-thumb {
=======
}
  
.slider::-moz-range-thumb {
>>>>>>> a6755a9787410d8b4d307f224575d2879be5e743
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
<<<<<<< HEAD
  }

  #kyna{
    color: var(--tehosteVari);
    font-size: 3em;
    box-shadow: 2px  5px 25px -7px whitesmoke;
  }

  
=======
}

.highlight{
    box-shadow: 0px 0px 5px 4px white;
}
>>>>>>> a6755a9787410d8b4d307f224575d2879be5e743
